<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <title>Mistri</title>
          <script src="https://cdn.tailwindcss.com"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
          <link
               rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
               integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
               crossorigin="anonymous"
               referrerpolicy="no-referrer" />
          <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css" />
          <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />
          <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css" />
          <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css" />
          <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css" />
     </head>
     <% if (error.length > 0) { %>
     <div class="alert alert-danger bg-red-800 p-3 text-white rounded-md"><%= error %></div>
     <% } %>
     <body class="bg-gray-200 flex flex-col items-center justify-center w-screen h-screen">
          <form method="post" action="/register" class="flex flex-col items-center justify-center p-20">
               <div class="flex flex-col items-center justify-center bg-white w-96 h-96 rounded-md shadow-xl">
                    <input type="email" name="email" class="rounded-md mt-2 p-2 outline-none w-[300px]" placeholder="Email" name="email" style="background-color: #efefef" />
                    <input type="password" name="password" class="rounded-md mt-2 outline-none p-2 w-[300px]" placeholder="Password" name="password" style="background-color: #efefef" />
                    <p>
                         Already have an account?
                         <a href="/login" class="text-blue-500"> Login</a>
                    </p>
                    <p>
                         <a href="/register/mistri" class="text-blue-500"> Create mistri account</a>
                    </p>
                    <input
                         type="submit"
                         class="mt-4 cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                         value="Register" />
               </div>
          </form>
     </body>
</html>
